html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    line-height: 150%;
    font-family: "Inter", sans-serif;
}
button, input {
    appearance: none;
}

.container {
    max-width: 1440px;
    width: 96%;
    margin: 0 auto;
}

.hero {
    /*background-image: url(../images/herobg.jpg);
    background-size: cover;*/
    background-color: #16C7FF;
    min-height: 100vh;
    padding-bottom: 60px;
    box-sizing: border-box;
    position: relative;

}
.hero:after {
    content: '';
    height: 88%;
    width: 100%;
    background-image: url(../images/hero-after.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: absolute;
    bottom: 0;
    right: -6px;

}
.hero .container {
    position: relative;
    z-index: 100;
}
.hero-img {
    position: absolute;
    right: -66px;
    bottom: -28px;
}

.header {
    padding: 30px 0 20px;
    border-bottom: 1px rgba(255, 255, 255, 0.6) solid;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header a {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
    text-decoration: none;
}

.header a+a {
    margin-left: 40px;
}

.center {
    max-width: 953px;
    margin: 205px 0;
    color: #fff;
}

.center h1 {
    margin: 0;
    font-size: 50px;
    line-height: 120%;

}

.center p {
    margin: 20px 0 50px;
    line-height: 150%;
    max-width: 831px;
}

.center a {
    display: block;
    max-width: 297px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px 24px;
    line-height: 150%;
    color: #115793;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
}

.bottom {
    display: flex;
    align-items: center;
    color: #fff;
}

.round {
    height: 84px;
    width: 84px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.bottom span {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.gift .container {
    border: 1px solid white;
    padding: 100px 0;
}


.block1 h2{
    margin: 0;
    max-width: 832px;
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
    color: #1F1F1F;
}
.block1.white h2,.block1.white p{
    color: #fff;
}
.grey-section {
    background-color: #F7F9FC;
    padding: 100px 0;
}
.offer{
    padding: 50px 50px;
    background-color: #16C7FF;
    border-radius: 10px;
}
.offer .left{
    width: 60%;
}
.icon img{
    height: 40px;
    width: 40px;
    
}
.bonuses {
    padding: 71px 40px;
    background-color: white;
    border-radius: 10px;
}
.bonuses .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 30px;
}
.bonuses-item{
    display: flex;
    align-items:start;
    justify-content: center;
    margin-right: 20px;
}
.bonuses-item p{
    margin: 0;
}
input{
    outline: 0;
}
.form a{
    color: #fff;
}
.form p{
    color: #fff;
}

.block {
    width: 345px;
    height: 216px;
    background-color: #e6f9ff;
    border-radius: 10px;
}
.gift-row {
    display: flex;
    flex-wrap: wrap;
    margin: 60px -10px -10px -10px;
    justify-content: space-between;
}

.gift-item {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}
.block p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;  
    max-width: 295px;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 81px;
    display: flex;
    align-items: center;
}
.block img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-left: 25px;
}
.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 240px;
    padding-right: 240px;
    max-width: 832px;
}
.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 240px;
    padding-right: 240px;

}
.block_table{
    background-color: white;
    width: 33%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid white;
    box-sizing: border-box;
    
}
.background {
    display: flex;
    flex-wrap: wrap;
}
.block_table p{
    background-color: #E6F9FF;
    border-radius: 5%;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    max-width: 415px;
}


@media (max-width:1024px) {
    .gift-item {
        width: 50%;
    }
    
}





